<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Zakaznicke sluzby su opat dostupne</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
    <body>
    	<p>
    		<span>Ahoj,</span>
    		<br>
			<p>
				<span>dole uvedeni zakaznici by uz mali mat sluzby spritupnene. </span>
				<span style="font-weight:bold">Informovali</span>
				<span> sme ich o tom správou. Vypadok, ktorý trval od </span>
				<span style="font-weight:bold" th:with="__df=#{dateTime.format}" th:text="${#dates.format(model.timeStart, __df)}">10:00</span>
				<span>sme odstranili </span>
				<span style="font-weight:bold" th:with="__df=#{dateTime.format}" th:text="${#dates.format(model.timeEnd, __df)}">11:00</span>
			</p>
    	</p>
    	
		<table border="1" cellpadding="5" style="border-collapse:collapse; border: 0px;">		
		<thead>
			<tr>
				<th>Zakaznik</th>
				<th>Adresa zakaznika</th>
				<th>B2B Login</th>
				<th>SN</th>
				<th>Služba</th>
				<th>Odberna adresa</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="service : ${model.services}">
				<td><span style="font-weight:bold" th:text="${service.customerName}"> mvsr.sk </span></td>
				<td><span th:text="${service.customerAddress}"> mvsr.sk </span></td>
				<td><span style="font-weight:bold" th:text="${service.b2bLogin}"> mvsr.sk </span></td>
				<td><span th:text="${service.sn}"> 0905132354 </span></td>
				<td><span th:text="${service.productName}"> VPS </span></td>
				<td><span th:text="${service.installationAddress}"> Bratislava </span></td>
			</tr>
		</tbody>
		</table>
    </body>
</html>