<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title th:text="#{cust.start.title}">Vypadok</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
    <body>
		<p th:if="${!#strings.isEmpty(#messages.msg('cust.start.languageInfo'))}">
			<span th:text="#{cust.start.languageInfo}">English version follows Slovak</span>
		</p>
    	<p>
			<span th:text="#{cust.start.salution}">Vážený zákazník,</span>
    		<span style="font-weight:bold" th:with="__df=#{dateTime.format}" th:text="${#dates.format(model.timeStart, __df)}">11:00</span>
    		<span th:text="#{cust.start.outage}">sme zaznamenali výpadok</span>
    	</p>
    	<p th:text="#{cust.start.services.title}">
    		Ovplyvnené môžu byť:
    	</p>
    <table border="1" cellpadding="5" style="border-collapse:collapse; border: 0px;">		
	    <thead>
	        <tr>
	        	<th th:text="#{cust.start.b2bLoginHeader}"> B2B login </th>
	            <th th:text="#{cust.start.snHeader}"> SN </th>
	            <th th:text="#{cust.start.serviceNameHeader}"> Služba </th>
	            <th th:text="#{cust.start.customerLocationHeader}"> Odberna adresa </th>
	        </tr>
	    </thead>
	    <tbody>
	     	<tr th:each="service : ${model.services}">
	     		<td><span style="font-weight:bold" th:text="${service.b2bLogin}"> b2bLogin </span></td>
	            <td><span th:text="${service.sn}"> 0905132354 </span></td>
	            <td><span th:text="${service.productName}"> VPS </span></td>
	            <td><span th:text="${service.installationAddress}"> Bratislava </span></td>
	     	</tr>
	    </tbody>
    </table>
		<p>
			<span th:text="#{cust.start.footerLine2.part1}">Na odstránení problému intenzívne pracujeme. </span>
			<span style="font-weight:bold" th:text="#{cust.start.footerLine2.part2}">Po jeho vyriešení Vás budeme informovať.</span>
		</p>
    	<p style="font-weight:bold" th:text="#{cust.start.signature1}"></p>
    	<p style="font-weight:bold" th:text="#{cust.start.signature2}"></p>
    </body>
</html>
