<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title th:text="#{cust.end.title}">Vase sluzby su opat dostupne</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
    <body>
    	<p>
    		<span th:text="#{cust.end.salution}">Vážený zákazník,</span>     		
    		<span style="font-weight:bold" th:with="__df=#{dateTime.format}" th:text="${#dates.format(model.timeStart, __df)}">11:00</span>
    		<span th:text="#{cust.end.outage.part1}">, ktorý mohol mať dopad na využívanie Vašich služieb od Orangeu, </span>
    		<span style="font-weight:bold" th:text="#{cust.end.outage.part2}">bol odstránený.</span>
    	</p>
    	<p th:text="#{cust.end.services.title}">
    		Ovplyvnené môžu byť:
    	</p>
    <table border="1" cellpadding="5" style="border-collapse:collapse; border: 0px;">		
	    <thead>
	        <tr>
	        	<th style="font-weight:bold" th:text="#{cust.end.b2bLoginHeader}"> B2B login </th>
	            <th th:text="#{cust.end.snHeader}"> SN </th>
	            <th th:text="#{cust.end.serviceNameHeader}"> Služba </th>
	            <th th:text="#{cust.end.customerLocationHeader}"> Odberna adresa </th>
	        </tr>
	    </thead>
	    <tbody>
	     	<tr th:each="service : ${model.services}">
	     		<td><span th:text="${service.b2bLogin}"> b2bLogin </span></td>
	            <td><span th:text="${service.sn}"> 0905132354 </span></td>
	            <td><span th:text="${service.productName}"> VPS </span></td>
	            <td><span th:text="${service.installationAddress}"> Bratislava </span></td>
	     	</tr>
	    </tbody>
    </table>
		<p>
			<span th:text="#{cust.end.footerLine1.part1}">Za vzniknute problemi sa ospravedlnujeme</span>
			<span style="font-weight:bold" th:text="#{cust.end.footerLine1.part2}"></span>
		</p>
		<p>
			<span th:text="#{cust.start.footerLine2.part1}"></span>
			<span style="font-weight:bold" th:text="#{cust.start.footerLine2.part2}"></span>
		</p>
    	<p style="font-weight:bold" th:text="#{cust.end.signature1}"></p>
    	<p style="font-weight:bold" th:text="#{cust.end.signature2}"></p>
    </body>
</html>
