<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Informácia o možnom výpadku služieb.</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
    <body>
    	<p>
    		<span>Milý kolega,</span>
    		<br>
    		<span>výpadok, ktorý trval od</span>
    		<span th:with="__df=#{dateTime.foramt}"  th:text="${#dates.format(model.timeStart, __df)}">11:00</span>
    		<span>bol ukončený</span>
    		<span th:with="__df=#{dateTime.foramt}"  th:text="${#dates.format(model.timeEnd, __df)}">11:00</span>
    	</p>
    	
    	<p>
    		Zákazníkov sme o tom informovali.
    	</p>
    	
    	<p>
    		Orange
    	</p>
    
    </body>
</html>