<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Informácia o možnom výpadku služieb.</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p>Milý kolega,</p>
<p>
	<span style="font-weight:bold" th:with="__df=#{dateTime.format}" th:text="${#dates.format(model.timeStart, __df)}">11:00</span>
	<span> došlo k výpadku, ktorý môže mať dopad na zákazníkov a ich služby:</span>
</p>
<table border="1" cellpadding="5" style="border-collapse:collapse; border: 0px;">
	<thead>
	<tr>
		<th>Meno zákazníka</th>
		<th>B2B Login</th>
		<th>SN</th>
		<th>Služba</th>
		<th>Adresa odberného miesta</th>
	</tr>
	</thead>
	<tbody th:each="services : ${model.servicesPerCustomer}">
		<tr th:each="service : ${services.value}">
			<td><span style="font-weight:bold" th:text="${service.customerName}"> mvsr.sk </span></td>
			<td><span style="font-weight:bold" th:text="${service.b2bLogin}"> mvsr.sk </span></td>
			<td><span th:text="${service.sn}"> 0905132354 </span></td>
			<td><span th:text="${service.productName}"> VPS </span></td>
			<td><span th:text="${service.installationAddress}"> Bratislava </span></td>
		</tr>
	</tbody>
</table>
<p>
	<span>Celkovo môže byť ovplyvnených </span>
	<span style="font-weight:bold" th:text="${model.customerCount}"></span>
	<span style="font-weight:bold"> zákazníkov.</span>
</p>
<br>
<p>
	<span>Zákazníkov sme o tom </span>
	<span style="font-weight:bold">informovali.</span>
</p>
<p>
	<span>Na detailnej identifikácii a odstránení výpadku intenzívne pracujeme. </span>
	<span style="font-weight:bold">Po vyriešení ťa budeme informovať.</span>
</p>
<p style="font-weight:bold">Ďakujeme za pochopenie.</p>
<p style="font-weight:bold">Orange</p>
</body>
</html>