<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Informácia o možnom výpadku služieb.</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
    <body>
    	<p>
    		<span>Milý kolega,</span>
    		<br>
    		<span th:with="__df=#{dateTime.foramt}"  th:text="${#dates.format(model.timeStart, __df)}">11:00</span>
    		<span>došlo k výpadku, ktorý môže mať dopad na zákazníkov a ich služby:</span>
    		
    	</p>
    	
    	
	    <table>
	    	<tr th:each="services : ${model.servicesPerCustomer}">
	        	<td th:text="${services.key.customerName + ' ' + services.key.customerAddress}">Customer name</td>
				    <table>		
					    <thead>
					        <tr>
					        	<th>B2B Login</th>
					            <th>SN</th>
					            <th>Služba</th>
					            <th>Odberna adresa</th>
					        </tr>
					    </thead>
					    <tbody>
					     	<tr th:each="service : ${services.value}">
					     		<td><span th:text="${service.b2bLogin}"> mvsr.sk </span></td>
					            <td><span th:text="${service.sn}"> 0905132354 </span></td>
					            <td><span th:text="${service.productName}"> VPS </span></td>
					            <td><span th:text="${service.installationAddress}"> Bratislava </span></td>
					     	</tr>
					    </tbody>
				    </table>
			</tr>
		</table>
		
		
		<p>
			<span>Celkovo môže byť ovplyvnených</span>
			<span>${model.customerCount}</span>
			<span>zákazníkov.</span>
		</p>
		<p>Na detailnej identifikácii a odstránení výpadku intenzívne pracujeme. Po vyriešení ťa budeme informovať.</p>
		<p>Ďakujeme za pochopenie.</p>
		<p>Orange</p>
    
    </body>
</html>