<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Zakaznicke sluzby su opat dostupne</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
    <body>
    	<p>
    		<span>Ahoj,</span>
    		<br>
    		<span>dole uvedeny zakaznici ny uz mali mat sluzby spritupnene. Informovali sme ich o tom správou. Vypadok sme odstranili o </span>
    		<span th:with="__df=#{dateTime.foramt}"  th:text="${#dates.format(model.timeStart, __df)}">11:00</span>
    	</p>
			    <table>		
				    <thead>
				        <tr>
				        	<th>Zakaznik</th>
				        	<th>Adresa zakaznika</th>
				        	<th>B2B Login</th>
				            <th>SN</th>
				            <th>Služba</th>
				            <th>Odberna adresa</th>
				        </tr>
				    </thead>
				    <tbody>
				     	<tr th:each="service : ${model.services}">
				     		<td><span th:text="${service.customerName}"> mvsr.sk </span></td>
				     		<td><span th:text="${service.customerAddress}"> mvsr.sk </span></td>
				     		<td><span th:text="${service.b2bLogin}"> mvsr.sk </span></td>
				            <td><span th:text="${service.sn}"> 0905132354 </span></td>
				            <td><span th:text="${service.productName}"> VPS </span></td>
				            <td><span th:text="${service.installationAddress}"> Bratislava </span></td>
				     	</tr>
				    </tbody>
			    </table>
    </body>
</html>