<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title th:remove="all">Template for HTML email with inline image</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
    <body>
        Vážený zákazník, o xx:xx hod. sme zaznamenali výpadok, ktorý môže mať dopad na Vašu //službu, službu s identifikátorom, službu s SN//, //s odbernou adresou
xxx//.
        Na výpadku intenzívne pracujeme. Po jeho vyriešení Vás budeme informovať.
        Preverte prosím na Vašej strane funkčnosť //...// a v prípade spozorovania akéhokoľvek problému kontaktujte zákaznícku linku 908 Orange Slovensko, a.s.
    </body>
</html>