<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title th:text="#{testMode.title}">Title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
    <body>
    	<p>
    		<span th:text="#{testMode.headerMain}">O co ide</span>
    	</p>
    	
    	<h3>Emails</h3>
		    <table border="1" cellpadding="5" style="border-collapse:collapse; border: 1px solid gray;">		
			    <thead>
			        <tr>
			            <th th:text="#{testMode.header1.recipient}"> Rec </th>
			            <th th:text="#{testMode.header1.subject}"> Subject </th>
			            <th th:text="#{testMode.header1.message}"> Message </th>
			            <th th:text="#{testMode.header1.attachements}"> Attach </th>
			        </tr>
			    </thead>
			    <tbody>
			     	<tr th:each="email : ${model.emailContents}">
			            <td><span th:text="${email.getAttributeValue('ORIGINAL_RECIPIENTS_EMAIL')}"> cuzy@objectify.sk </span></td>
			            <td><span th:text="${email.subject}"> Subject1 </span></td>
			            <td>                     		
			            		<span style="white-space: pre" th:utext="${email.text}"> Body1 </span>
			            </td>
			            <td><span th:text="${email.attachments}"> Attachments </span></td>
			     	</tr>
			    </tbody>
		    </table>
		 <h3>SMSs</h3>
		 	<table border="1" cellpadding="5" style="border-collapse:collapse; border: 1px solid gray;" >		
			    <thead>
			        <tr>
			            <th th:text="#{testMode.header1.recipient}"> Rec </th>
			            <th th:text="#{testMode.header1.message}"> Message </th>
			        </tr>
			    </thead>
			    <tbody>
			     	<tr th:each="sms : ${model.smsContents}">
			            <td><span th:text="${sms.getAttributeValue('ORIGINAL_RECIPIENTS_PHONE_NUM')}"> 09181111 </span></td>
			            <td>	
			            		<span style="white-space: pre" th:text="${sms.text}"> Body1 </span>
			            </td>
			     	</tr>
			    </tbody>
		    </table>
		<h3>Mailchimp</h3>
			<table border="1" cellpadding="5" style="border-collapse:collapse; border: 1px solid gray;">
				<thead>
				<tr>
					<th th:text="#{testMode.header1.recipient}"> Rec </th>
					<th th:text="#{testMode.header1.subject}"> Subject </th>
					<th th:text="#{testMode.header1.mailchimp.message}"> Message </th>
					<th th:text="#{testMode.header1.attachements}"> Attach </th>
				</tr>
				</thead>
				<tbody>
				<tr th:each="mailchimp : ${model.mailchimpContents}">
					<td><span th:text="${mailchimp.getAttributeValue('ORIGINAL_RECIPIENTS_EMAIL')}"> cuzy@objectify.sk </span></td>
					<td><span th:text="${mailchimp.message.subject}"> Subject1 </span></td>
					<td>
						<iframe srcdoc="<html><body>Could not template...</body></html>" th:srcdoc="${mailchimp.getAttributeValue('RENDERED_MAILCHIMP_MESSAGE')}"> Body1 </iframe>
					</td>
					<td><span th:text="${mailchimp.message.attachments}"> Attachments </span></td>
				</tr>
				</tbody>
			</table>
	 
	 
	 	<p th:text="#{testMode.footerMain}"></p>
    	<p th:text="#{testMode.signature}"></p>
    </body>
</html>
